:root {
  --header-height: 60px;
  --apps-control-margin: 12px;
  --header-height: 320px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.apps__header {
  z-index: 99;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 320px;
}
.apps__header-container {
  width: 100%;
  text-align: center;
  background-color: white;
  /* margin-bottom: 12px; */
}
.apps__header-desc {
  color: rgb(0, 0, 0);
  text-align: center;
  flex: 0.8;
  font-weight: 900;
  font-size: 2.8rem;
}
.apps__header-control--desc {
  font-size: 1.4rem;
  color: red;
  /* opacity: 0.6; */
}
.apps__header-icon {
  flex: 0.1;
  text-align: center;
  color: rgb(0, 0, 0);
}
.cd {
  display: flex;

  text-align: center;
  margin-bottom: 12px;
  justify-content: center;
}

.cd__image-item {
  z-index: 1;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  box-shadow: 1px 1px 15px black;
  background-size: contain;
  background-repeat: round;
}
.cd__image-item-background {
  position: absolute;
  z-index: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: radial-gradient(
    circle,
    rgb(99, 115, 255),
    rgba(74, 0, 158, 0.2),
    rgba(105, 245, 255, 0.8)
  );
  animation: imgRotate ease-in-out 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#image-background {
  position: absolute;
}
i {
  font-size: 2.4rem;
}

.apps__control {
  background-color: rgb(164, 107, 255);

  /* margin-top: var(--apps-control-margin);
  margin-bottom: var(--apps-control-margin); */
}
.apps__control-button {
  height: 50px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn {
  width: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
}
.music__progress {
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#progress {
  flex: 0.5;
}
.music__progress span {
  font-size: 1.6rem;
  color: bisque;
}
#music__current-progress {
  padding-right: 6px;
  text-align: end;
  flex: 0.25;
}
#music__current-duration {
  padding-left: 6px;
  text-align: start;
  flex: 0.25;
}

.volume {
  display: block;
  margin: auto;
}
#volume-input {
  display: none;
}
.volume-control {
  display: none;
}
.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}
.player.repeat .icon-repeat {
  display: none;
}
.player .icon-repeat-active {
  display: none;
}
.btn-repeat.repeat {
  color: red;
}
.btn-autoplay.autoplay .icon-autoplay {
  display: none;
}
.btn-autoplay .icon-autoplay-active {
  display: none;
}
.btn-autoplay.autoplay .icon-autoplay-active {
  display: block;
}
.btn-autoplay .icon-autoplay-active {
  color: rgb(197, 0, 0);
}
.btn-shuffle.shuffled {
  color: rgb(175, 41, 142);
}
.playlist {
  position: relative;
  top: var(--header-height);
  list-style-type: disc;
}
.playlist__control {
  padding: 6px 12px;
  background-color: aquamarine;
  text-align: end;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.playlist__modal {
  display: none;
  background-color: antiquewhite;
  z-index: 99;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 130px;
  height: 50vh;
  width: 80vw;
  padding: 12px 6px;
  border-radius: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.playlist__modal::-webkit-scrollbar {
  display: none;
}
.playlist__modal.playlist__modal-active {
  display: block;
}

.modal__header {
}
.modal__cd {
  display: flex;
  height: 200px;
}
img.modal__cd-image {
  border-radius: 10px;
  display: block;
  margin: auto;
  max-height: 100%;
}
.modal__cd-background {
}
.modal__heading {
  display: block;
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
}
.modal__body {
  font-size: 2rem;
}
.modal__fav_song-list {
  list-style-type: none;
  border-radius: 4px;
}
.modal__fav_song {
  background-color: azure;
  padding: 0 12px;
  cursor: pointer;
  margin: 1px 0;
  border-radius: 4px;
}
.modal__playlist-song-name {
  width: 50%;
  font-size: 2rem;
}
.modal__playlist-song-singer {
  width: 50%;
  font-size: 1.2rem;
  opacity: 0.6;
}
.song {
  height: 100px;
  display: flex;
  padding: 6px 6px;
  margin-bottom: 8px;

  /* border-bottom: 1px solid white; */
}
.songs__desc {
  flex: 0.9;

  padding-left: 12px;
  padding-right: 12px;
}
.songs__moreinfo {
  padding: 6px;
  display: flex;
  align-items: flex-start;
  flex: 0.1;
  color: aliceblue;
  text-align: center;
}
.songs__moreinfo-icon {
  font-size: 1.8rem;
  color: black;
}
.songs__name {
  font-size: 2rem;
  color: inherit;
}
.songs__singer {
  font-size: 1.6rem;
}
.songs__singer--link {
}
img.songs__image {
  height: 100%;
  width: 80px;
  filter: grayscale(50%);
}
/* .song-active {
  color: white;
  background-color: blueviolet;
} */
.song:active {
  opacity: 0.5;
}
.modal__fav_song.active {
  background-color: blueviolet;
}
.song.active {
  background-color: rgb(48, 179, 212);
}
@keyframes imgRotate {
  from {
    transform: scale(0.95);
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: scale(1.15);
    transform: rotate3d(180deg, 270deg, 360deg);
  }
}
@keyframes rotate3d {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(180deg, 270deg, 360deg);
  }
}
@media (max-width: 768px) {
}
